/* CSS reset https://www.digitalocean.com/community/tutorials/css-minimal-css-reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: inherit;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Make navbar draggable: https://stackoverflow.com/questions/44818508/how-do-i-move-a-frameless-window-in-electron-without-using-webkit-app-region */
.header {
  /* With dev tools open, this breaks. Latest Electron will fix this: https://github.com/electron/electron/pull/26361 */
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

::-webkit-scrollbar {
  display: none;
}

/* Monaco-editor */
.monaco-editor .view-overlays .current-line {
  background-color: transparent !important;
}

.monaco-editor,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input {
  background-color: transparent !important;
}

.monaco-editor .selectionHighlight {
  background-color: transparent !important;
}
