@import-normalize; /* bring in normalize.css styles (supposedly a cra feature) */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

/* Make it draggable: https://stackoverflow.com/questions/44818508/how-do-i-move-a-frameless-window-in-electron-without-using-webkit-app-region */
.header {
  /* With dev tools open, this breaks. Latest Electron will fix this: https://github.com/electron/electron/pull/26361 */
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

::-webkit-scrollbar {
  display: none;
}
